extends layout_employee

block content

    br
    h1.homepage Available shifts
    hr

    .container
        .row.align-items-start
            .col(id="leftc")
                .list-group
                    a.list-group-item.list-group-item-action(href='#')
                        .d-flex.w-100.justify-content-between
                            h5.mb-1 2022-05-10 
                            h5.mb-1 Freja Rasmussen
                        p.mb-1 Bartender 18:30-23:00
                        small Employee
                    a.list-group-item.list-group-item-action(href='#')
                        .d-flex.w-100.justify-content-between
                            h5.mb-1 2022-05-12
                            h5.mb-1 Magnus Holt
                        p.mb-1 Reception 06:00-15:00
                        small Employee
                    a.list-group-item.list-group-item-action(href='#')
                        .d-flex.w-100.justify-content-between
                            h5.mb-1 2022-05-14
                            h5.mb-1 Preben Elkjær
                        p.mb-1 Waiter 12:00-18:00
                        small Employee
   
            .col-1
                ul(style="list-style:none;")
                    li 
                        br
                        a(href='', class='btn btn-info' id="newshiftbtn") Bid
                    br
                    li
                        br
                        br
                        a(href='', class='btn btn-info' id="newshiftbtn") Bid
                    br
                    li
                        br
                        br
                        a(href='', class='btn btn-info' id="newshiftbtn") Bid
                    br
  
