extends layout_employee

block content

    .container
        .row
        .col.align-self-start
        .col.align-self-center
        h1.homepage Home Page
        .col.align-self-end

    script(type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js")
    script(type="module" src="/chart.js")

    .container
        .row
            .col.align-self-start
                .form.homepage
                    h2.homepage Noticeboard
                    textarea#notes.form-control(style=('height: 450px;resize:none;') readonly type='text' name='notes') #{noticeboard.notes}
                        
            .col.align-self-start
                .form.homepage
                    h2.homepage Hours 
                    .col
                    .chartcontainer(id="chartcont")
                        div
                            canvas#myChart(style="width:300px;height:300px;max-width:400px;aspect-ratio: auto 400 / 400;")
                    br
                    h5.homepage Planned hours: 12
                          
                                  

    
