extends layout_manager

block content

 h1 Swap shifts
 a(href='./available-shifts', class='btn btn-primary') Available shifts
 a(href='./absence', class='btn btn-primary') Absence
 a(href='./manage-shifts', class='btn btn-primary') Manage shifts