extends layout_manager

block content

    br
    h1.homepage(style='text-align: center;')= title
    hr

    div.d-flex.justify-content-center.w-75 
        each user in user_list  
            ul 
                a(href='/manager' + user.url, class='btn btn-info' id="newshiftbtn")= user.fullname
        