extends layout_manager

block content
    br

    h1.homepage(style='text-align: center;')= title 
    h2= user.fullname

    hr

    a(href='/manager' + user.url + '/delete', class='btn btn-info' id="newshiftbtn") Delete user
    br
    br
    a(href='/manager' + user.url + '/update', class='btn btn-info' id="newshiftbtn") Update user

    if errors
        ul
            for error in errors
                li!= error.msg