extends layout

block content

 h1 Absence page
 a(href='./available-shifts', class='btn btn-primary') Available shifts
 a(href='./swap-shifts', class='btn btn-primary') Swap
 a(href='./manage-shifts', class='btn btn-primary') Manage shifts