extends layout_manager

block content
  br
  h1.homepage(style='text-align: center;')=title

  form(method='POST' action='')
    div.form-group
      label(for='date') Date:
      input#date.form-control(type='date' name='date' required='true' value=(undefined===shift ? '' : shift.date_yyyy_mm_dd))
      br
      label(for='timestart') Time start:
      input#name.form-control(type='text' placeholder='00:00' name='timestart' required='true' value=(undefined===shift ? '' : shift.timestart))
      br
      label(for='timeend') Time end:
      input#name.form-control(type='text' placeholder='00:00' name='timeend' required='true' value=(undefined===shift ? '' : shift.timeend))
      br
      label(for='user') Employee:
      select#user.form-control(type='select', placeholder='Select user' name='user' required='true' )
        - user_list.sort(function(a, b) {let textA = a.fullname.toUpperCase(); let textB = b.fullname.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for user in user_list
          option(value=user._id, selected=(selected_user==user._id.toString() ? 'selected' : false) ) #{user.fullname}
    br
    button.btn.btn-primary(type='submit' id='newshiftbtn') Submit

  if errors
    ul
      for error in errors
        li!= error.msg