extends layout

block content


 h1 Timesheet department page
 a(href='./create', class='btn btn-info') Create new shift
 hr

 table(style='width:100%', border='1')
        tr
            th 
            th Monday
            th Tuesday
            th Wednesday
            th Thursday
            th Friday
            th Saturday
            th Sunday
        each user in user_list
            tr
                th= user.username
                each shift in shift_list
                    if (user._id.toString() === shift.user._id.toString())
                        th= shift.date_yyyy_mm_dd
                    else 
