extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='date') Date:
      input#date.form-control(type='date' name='date' value=(undefined===date ? '' : shift.date))

      label(for='user') Employee:
      select#username.form-control(type='select', placeholder='Select user' name='username' required='true' )
        - user_list.sort(function(a, b) {let textA = a.username.toUpperCase(); let textB = b.username.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for user in user_list
          option(value=user.username, selected=(selected_user==user.username.toString() ? 'selected' : false) ) #{user.username}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
