extends layout

block content

 h1 Timesheet today page
 a(href='./individual', class='btn btn-primary') Individual
 a(href='./department', class='btn btn-primary') Department
 a(href='./create', class='btn btn-info') Create new shift