body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
 
}

a {
  color: #00B7FF;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

#usernamePlaceholder {
  height: 50px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login_button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

.login_overskrift {
  text-align: center;
  color: white;
  font-size: 300%;
  font-weight: bold;
}

.buttontype1 {
  font-size: 115%;
  padding-top: 10px;
}

.buttontype1:hover {
  opacity: 0.8;
}

.buttontype2:hover {
  opacity: 0.8;
}

.homepage {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.b-skills {
  text-align: center;
}

.b-skills:last-child {
  margin-bottom: -30px;
}

.b-skills h2 {
  margin-bottom: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.chart-text {
  font-weight: 900;
}

#myChart {
  align-items: center;
}

#noticeboard {
  height: 500px;
  width: 500px;
}

.noticeboard h1 {
  margin-bottom: 20px;
  font-weight: 900;
  text-transform: uppercase;
}


